/* src/index.css */

body {
  margin: 0;
  font-family: Arial, sans-serif; /* Ensure consistent font across devices */
  background-color: hsl(225, 6%, 13%); /* Set background color */
}

.header {
  background-color: hsl(225, 6%, 13%);
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid hsl(225, 6%, 20%);
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.header p {
  font-size: 1.2rem;
  opacity: 0.8;
}

.try-sample {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: hsl(225, 6%, 25%);
}

.try-sample-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clear-button {
  margin-top: 1rem; /* Increase top margin for spacing */
  padding: 0.5rem 1rem;
  background-color: #c62525;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 1rem; /* Rounded border radius */
}

.clear-button:hover {
  background-color: #555;
}

.pane {
  height: 50vh;
  display: flex;
  background-color: hsl(225, 6%, 25%);
  overflow: hidden; /* Ensure overflow is hidden initially */
}

.top-pane {
  background-color: hsl(225, 6%, 25%);
  width: 100%; /* Ensure full width for top pane */
  display: flex;
}

.editor-container {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: hsl(225, 6%, 25%);
  overflow: auto; /* Enable scrolling within the editor */
  width: 100%; /* Ensure full width for editors */
  max-width: 33.33%; /* Each editor occupies one-third of the width */
  margin-right: 1rem; /* Right margin for spacing */
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: auto; /* Enable scrolling within the editor */
}

.output {
  background-color: #f0f0f0; /* Gray background color for the output box */
  padding: 1rem;
  overflow: auto; /* Allow scrolling if content exceeds height */
  flex-grow: 1; /* Allow the output area to grow */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .pane {
    flex-direction: column; /* Stack editors vertically on mobile screens */
  }
  .editor-container {
    max-width: 100%; /* Full width for editors on mobile */
    margin-right: 0; /* Remove right margin on small screens */
  }
}
